/* ===============================
   🔍 SEARCH
   =============================== */
.search-container {
  position: relative;
  width: max-content;
  cursor: pointer;
}

.search-container:hover {
  transition: width 0.3s ease;
  background: var(--color-surface);
  border-radius: 20px;
  border: 2px solid var(--color-hover);
  padding: 5px;
  overflow: hidden;
}

.search-input {
  border: none;
  outline: none;
  background: transparent;
  width: 0;
  opacity: 0;
  font-size: 14px;
  transition: width 0.3s ease, opacity 0.3s ease;
}

.search-container:hover .search-input {
  width: 150px;
  opacity: 1;
}

.search-container:hover .search-icon {
  color: var(--color-hover);
}

.search-icon {
  flex-shrink: 0;
}

/* ===============================
   📱 MEDIA QUERIES (RESPONSIVE)
   =============================== */
   /* Mobile first search field always visible */
@media (max-width: 767px) {
  .search-container {
    border: 2px solid var(--color-hover);
    background: var(--color-surface);
    border-radius: 20px;
    padding: 5px;
  }

  .search-input {
    width: 150px;
    opacity: 1;
    transition: none;
  }

  .search-icon {
    color: var(--color-hover);
  }
}

/* Breakpoint: xl */
@media (min-width: 1280px) {
  .search-input {
    font-size: var(--fs-md);
  }
}

/* Breakpoint: md */
@media (min-width: 768px) {
  .search-container:hover .search-input {
    width: 180px;
  }
}
