---
import { COMPANY_NAME } from "../../consts.ts";

import IconsLinks from "../commons/IconsLinks.astro";
import Logo from "../commons/Logo.astro";
import NavLinks from "../commons/NavLinks.astro";
---
<!-- Foooter -->
<footer id="footer" role="contentinfo">
    <h2 class="sr-only">Sezione Footer</h2>
    <div class="max-w-screen-xl px-4 py-12 mx-auto space-y-8 overflow-hidden sm:px-6 lg:px-8">
        <div class="flex justify-center items-center" aria-label="Logo">
            <Logo />
        </div>

        <nav class="flex flex-wrap justify-center -mx-5 -my-2" aria-label="Navigazione secondaria">
            <ul class="flex" role="list">
                <NavLinks class="px-5 py-2" />
            </ul>
        </nav>

        <section aria-label="Link ai social media" class="flex justify-center mt-8 space-x-6">
            <IconsLinks class="flex space-x-6" />
        </section>

        <p class="mt-8 leading-6 text-center text-sm!">
            &copy; 2025 {COMPANY_NAME}, Tutti i diritti riservati.
        </p>
    </div>
</footer>