---
import Logo from "../commons/Logo.astro";

import NavLinks from '../commons/NavLinks.astro';
import IconsLinks from '../commons/IconsLinks.astro';
---
<header class="sticky top-0 left-0 z-100" id="header">
  <!-- NAVBAR -->
  <nav aria-label="Navigazione principale" class="shadow-md w-full shadow-sm mx-auto" id="main-nav">

    <div class="max-w-7xl mx-auto px-1 sm:px-6 lg:px-8">
      <div class="flex justify-between items-center h-16">

        <!-- Logo Desktop -->
        <div class="hidden md:flex flex-shrink-0" aria-label="Logo">
          <Logo />
        </div>

        <!-- Navigation Links (Desktop) -->
         <ul class="hidden md:flex md:space-x-8" role="list">
           <NavLinks  />
         </ul>

        <!-- Social Icons (Desktop) -->
        <IconsLinks showSearch={true} class:list={"hidden md:flex space-x-4 justify-center items-center"} />

        <!-- Mobile: Logo, Socials, Hamburger -->
        <div class="flex w-full items-center justify-between md:hidden">
          <!-- Logo Mobile -->
          <div class="flex-shrink-0 flex" aria-label="Logo">
            <Logo />
          </div>

          <!-- Social icons Mobile -->
          <IconsLinks showSearch={true} class:list={"flex space-x-2 justify-center items-center"} />

          <!-- Hamburger button -->
          <button id="menu-toggle" class="flex flex-col justify-center items-center w-10 h-10 focus:outline-none cursor-pointer" aria-label="Apri menu di navigazione" aria-expanded="false" aria-controls="mobile-menu">
            <span class="line w-6 h-0.5 mb-1 transition-transform duration-300"></span>
            <span class="line w-6 h-0.5 mb-1 transition-opacity duration-300"></span>
            <span class="line w-6 h-0.5 transition-transform duration-300"></span>
        </button>   

      </div>
    </div>
  </div>
  
  <!-- Mobile Menu Links -->
  <div id="mobile-menu" class="md:hidden hidden" aria-hidden="true">
    <ul role="list" class="flex items-center justify-evenly py-4 md:hidden">
      <NavLinks  />
    </ul>
  </div>
</nav>
</header>

<script src="../../scripts/components/header.js"></script>