---
import BaseHead from '../components/utilities/BaseHead.astro';
import Header from '../components/layouts/Header.astro';
import Hero from '../components/layouts/home/Hero.astro';
import Footer from '../components/layouts/Footer.astro';
import LatestPosts from '../components/layouts/home/LatestPosts.astro';
import HeaderLink from '../components/utilities/HeaderLink.astro';

import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Content from '../components/layouts/home/Content.astro';
---

<!doctype html>
<html lang="it">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<HeaderLink href="#main-content" class="sr-only focus:not-sr-only">
  			Salta al contenuto principale
		</HeaderLink>
		<Header />
		<main id="main-content">
			<Hero />
			<Content />
			<LatestPosts />
		</main>
		<Footer />
	</body>
</html>

<script src="../scripts/main.js"></script>