---
import ColSectionWrapper from "../../commons/ColSectionWrapper.astro"
import ShadowImg from "../../commons/ShadowImg.astro"
import CtaButton from "../../commons/CtaButton.astro"

const IMG_ALT = 'img placeholder'
---

<section id="content" class="bg-(--color-primary)" aria-label="Contenuto del blog commenti.non.richiesti">
    <ColSectionWrapper idLeftCol="" idRightCol="">
        <Fragment slot={"left"}>
            <ShadowImg alt={IMG_ALT}, shadowOffsetLeft = "-left-4" />
        </Fragment>
    
        <Fragment slot={"right"}>
            <h3 style="color: var(--bg-color)">Recensioni? No, commenti spassionati</h3>
            <p>
                I miei articoli non sono lunghi papiri tecnici. Sono racconti ironici, con battute, colpi di scena e verità scomode. Se un posto fa schifo, te lo dico con stile. Se è figo, ti ci mando subito.
            </p>
            <CtaButton btnContent="Scopri di più" />
        </Fragment>
    </ColSectionWrapper>
    <ColSectionWrapper idLeftCol="" idRightCol="" isColReverse="true">
        <Fragment slot={"right"}>
            <ShadowImg alt={IMG_ALT}, shadowOffsetLeft = "left-4" />
        </Fragment>
    
        <Fragment slot={"left"}>
            <h3 style="color: var(--bg-color)">Cerca. Scopri. Ridi.</h3>
            <p>
                Puoi cercare tra gli articoli per trovare quello che ti ispira. Magari ti aiuto a vivere la stessa esperienza e portarti a casa un ricordo unico (o almeno una storia da raccontare).
            </p>
            <CtaButton btnContent="Scopri di più" />
        </Fragment>
    </ColSectionWrapper>
    <ColSectionWrapper idLeftCol="" idRightCol="">
        <Fragment slot={"left"}>
            <ShadowImg alt={IMG_ALT}, shadowOffsetLeft = "-left-4" />
        </Fragment>
    
        <Fragment slot={"right"}>
            <h3 style="color: var(--bg-color)">Locali strani, ricordi belli</h3>
            <p>
                Non troverai il solito bar sotto casa. Qui si parla di posti assurdi, fuori dalle guide classiche — quelli che ti fanno dire “ma dove mi hai portato?”. Cerco esperienze memorabili, e te le racconto senza filtri.
            </p>
            <CtaButton btnContent="Scopri di più" />
        </Fragment>
    </ColSectionWrapper>
</section>