---
import Icon from "../../utilities/Icon.astro";
---

<section class="relative z-10 py-16 mt-8 px-4 sm:px-6 lg:px-8 text-center" role="region" aria-labelledby="divider-heading" data-aos="zoom-in-up" data-aos-duration="800">
    <!-- Gradient Divider SVG -->
    <div aria-hidden="true" class="absolute top-0 left-0 w-full h-1" style="background-image: linear-gradient(to right, rgba(149,131,198,0), rgba(149,131,198,0.5), rgba(149,131,198,0));">
    </div>
    <div class="max-w-3xl mx-auto">
        <h2 id="divider-heading" class="text-2xl sm:text-3xl font-extrabold text-violet-800 tracking-tight mb-6">
            Azzeccato per chi ha fame di curiosità e di ironia
        </h2>

        <p class="text-md sm:text-lg text-gray-700 font-medium leading-relaxed mb-3">
            Ti sei stufato dei soliti post?
        </p>

        <p class="text-md sm:text-lg text-gray-700 font-medium leading-relaxed mb-3">
            Sei troppo serio? Allora sei nel posto sbagliato.
        </p>

        <p class="text-md sm:text-lg text-pink-600 font-semibold italic mt-6">
            Ma se ridi anche davanti a una classifica dei 5 zerbini più
            sottovalutati... <br />
            <span class="text-violet-700 font-bold">
                ...sai già cosa fare: scrolla giù e preparati a divertirti 🗿🚀
                </span>
        </p>

        <div class="mt-10">
            <Icon name="arrowDown" class="mx-auto animate-bounce w-6 h-6 text-violet" />
        </div>
    </div>

    <!-- Gradient Divider SVG -->
    <div aria-hidden="true" class="absolute bottom-0 left-0 w-full h-1" style="background-image: linear-gradient(to right, rgba(149,131,198,0), rgba(149,131,198,0.5), rgba(149,131,198,0));">
    </div>
</section>
