---
import { IMG_PLACEHOLDER, SITE_DESCRIPTION } from "../../../consts";
import { getWebPageStructuredData } from "../../../utils/structuredData";
import heroImg from '../../../assets/homeImgs/heroImg.jpeg';
import ColSectionWrapper from "../../commons/ColSectionWrapper.astro";
import CtaButton from "../../commons/CtaButton.astro";
import ShadowImg from "../../commons/ShadowImg.astro";

const IMG_ALT = "Foto di Anna, autrice del blog commenti.non.richiesti.";
const siteUrl = Astro.site?.toString() ?? 'http://localhost:4321';
const structuredData = {
    "description": SITE_DESCRIPTION,
    "canonicalURL": new URL(Astro.url.pathname, Astro.site).toString(),
    "contentUrl": new URL('/assets/heroImgs/heroImg.jpeg', siteUrl).toString(),
    "imageDescription": IMG_ALT,
};

// Genera JSON-LD come stringa
const JSONstructuredData = getWebPageStructuredData(structuredData);
---

<section id="hero" role="region" aria-label="Sezione introduttiva del blog commenti.non.richiesti" itemscope itemtype="https://schema.org/Person">
    <meta itemprop="name" content="Commenti Non Richiesti">
    <meta itemprop="url" content={siteUrl}>
  
    <ColSectionWrapper idLeftCol="hero-col-left" idRightCol="hero-col-right" isColReverse="true">
        <Fragment slot="left">
            <h1 class="leading-tight text-[var(--color-primary)]" id="homepage-heading" itemprop="description">
                Hello, Crazy! 🤪
                <br>
                Benvenuti su <span class="gradient-text">commenti.non.richiesti</span>
            </h1>
            <h2 class="max-w-full text-[var(--color-text)]" style="font-size:large;" id="payoff">
                <em>Commento. Anche quello che non volevi sapere.</em>
            </h2>
            <CtaButton href={`#ultimi-post`} btnContent={"Dai un occhio"} class="flex items-center justify-start" btnLabel="Vai alla sezione utlimi post" />
        </Fragment>
    
        <Fragment slot="right">
            <ShadowImg src={heroImg.src ?? IMG_PLACEHOLDER} alt={IMG_ALT}, shadowOffsetLeft = "left-4"/>
        </Fragment>
    </ColSectionWrapper>
</section>

<script type="application/ld+json" set:html={JSONstructuredData}/>