---
import { BASE_PATH, SITE_DESCRIPTION } from "../../../consts";
import { getWebPageStructuredData } from "../../../utils/structuredData";
import heroImg from '../../../assets/homeImgs/heroImg.jpeg';
import ColSectionWrapper from "../../commons/ColSectionWrapper.astro";
import CtaButton from "../../commons/CtaButton.astro";
import ShadowImg from "../../commons/ShadowImg.astro";

const IMG_ALT = "Foto di Anna, autrice del blog commenti.non.richiesti.";
const siteUrl = Astro.site?.toString() ?? 'http://localhost:4321';
const structuredData = {
    "description": SITE_DESCRIPTION,
    "canonicalURL": new URL(Astro.url.pathname, Astro.site).toString(),
    "contentUrl": new URL('/assets/heroImgs/heroImg.jpeg', siteUrl).toString(),
    "imageDescription": IMG_ALT,
};

// Genera JSON-LD come stringa
const JSONstructuredData = getWebPageStructuredData(structuredData);
---

<section id="hero" role="region" aria-label="Sezione introduttiva del blog commenti.non.richiesti">
    <ColSectionWrapper idLeftCol="hero-col-left" idRightCol="hero-col-right" isColReverse="true">
        <Fragment slot="left">
            <h1 class="leading-tight" id="homepage-heading">
                Hello, Crazy! 🤪
                <br>
                Benvenuti su <strong class="gradient-text">commenti.non.richiesti</strong>
            </h1>
            <h2 class="max-w-full" style="font-size:medium; color: var(--color-text);" id="payoff">
                <em>Recensisco tutto. Anche quello che non volevi sapere.</em>
            </h2>
            <CtaButton href={`#home-content`} btnContent={"Scopri di più"} class="flex items-center justify-start" ariaLabel="Scopri di più" />
        </Fragment>
    
        <Fragment slot="right">
            <ShadowImg src={heroImg.src} alt={IMG_ALT}, shadowOffsetLeft = "left-4" bgColor="bg-(--color-primary)"/>
        </Fragment>
    </ColSectionWrapper>
</section>

<script type="application/ld+json" set:html={JSONstructuredData}/>