---
import { BASE_PATH, SITE_DESCRIPTION } from "../../../consts";
import { getWebPageStructuredData } from "../../../utils/structuredData";
import heroImg from '../../../assets/homeImgs/heroImg.jpeg';
import ColSectionWrapper from "../../commons/ColSectionWrapper.astro";
import CtaButton from "../../commons/CtaButton.astro";

const IMG_ALT = "Foto di Anna, autrice del blog.";
const siteUrl = Astro.site?.toString() ?? 'http://localhost:4321';
const structuredData = {
    "description": SITE_DESCRIPTION,
    "canonicalURL": new URL(Astro.url.pathname, Astro.site).toString(),
    "contentUrl": new URL('/assets/heroImgs/heroImg.jpeg', siteUrl).toString(),
    "imageDescription": IMG_ALT,
};

// Genera JSON-LD come stringa
const JSONstructuredData = getWebPageStructuredData(structuredData);
---

<ColSectionWrapper idSection="hero" idLeftCol="hero-col-left" idRightCol="hero-col-right" isColReverse="true"  role="region" aria-label="Sezione introduttiva del blog commenti.non.richiesti">
    <Fragment slot="left">
        <h1 class="leading-tight" id="homepage-heading">
            Hello, Crazy! 🤪
            <br>
            Benvenuti su <strong class="gradient-text">commenti.non.richiesti</strong>
        </h1>
        <h2 class="max-w-full" style="font-size:medium; color: var(--color-text);" id="payoff">
            <em>Recensisco tutto. Anche quello che non volevi sapere.</em>
        </h2>
        <CtaButton href={`#hero`} btnContent={"Scopri di più"} class="flex items-center justify-start" ariaLabel="Scopri di più" />
    </Fragment>

    <Fragment slot="right">
        <div class="relative inline-block">
            <!-- Ombra rettangolare animata -->
            <div id="img-before" class="absolute top-4 left-4 w-full h-full bg-[#4C206D]/30 animate-pulse transition-all duration-500 ease-in-out z-0 rounded-t-[50%]">
            </div>

            <!-- Immagine vera sopra -->
            <img id="hero-img" src={heroImg.src} alt={IMG_ALT} class="w-full max-w-md shadow-xl/30 object-cover relative z-10 rounded-t-[50%]" loading="lazy" />
        </div>
    </Fragment>
</ColSectionWrapper>

<script type="application/ld+json" set:html={JSONstructuredData}/>