---
import SectionWrapper from "../../commons/SectionWrapper.astro";

import Img from '../../../assets/homeImgs/miniGuidePolaroid.png';
---


<SectionWrapper h2="Scarica le mini guide" h2Class="sr-only" href="/mini-guide" btnContent="Scarica le mini guide" btnAriaLabel="vai alle mini guide" sectionClass="relative mt-[7rem]!" sectionRole="region" sectionId="mini-guide-section" sectionAriaLabelledby="mini-guide-heading" divClass="h-3/4 px-25" divAriaLabelledby="mini-guide">
    <!-- 📸 Polaroid container -->
    <div class="absolute left-1/2 -translate-x-1/2 -top-36 w-[300px] h-[250px] sm:w-[350px] sm:h-[300px] pointer-events-none z-20">
        <img src={Img.src} alt="Mini guida 1" class="w-full" data-aos="fade-down" data-aos-delay="500" data-aos-easing="ease-in-out" />
    </div>
  <!-- 🌈 Contenuto principale dentro la div "mini-guide" -->
  <div id="mini-guide" class="py-24 px-6 text-center" data-aos="fade-zoom-in" data-aos-delay="500" data-aos-easing="ease-in-out">
    <h3 class="uppercase mb-8!">
      E per i più curiosi, regalo le mini guide fatte da me!
    </h3>
    <h4 class="uppercase mb-6 font-bold">
      Che ne dici di una guida sui posti più 
      <strong>belli</strong>
      e 
      <strong>divertenti</strong>?
    </h4>
    <p class="mb-2">
      Scarica <strong>gratuitamente</strong> una guida simpatica e con consigli utili su dove mangiare, le esperienze più belle e... Insomma scaricala, mica ti posso dire tutto subito!
    </p>
    <p>
      Preparati: c'è il rischio di sviluppare dipendenza… e forse un sorriso stampato 😏
    </p>
  </div>
</SectionWrapper>