---
const { idSection, idLeftCol, idRightCol, isColReverse = false } = Astro.props;
---

<section class="w-full py-16" id={idSection}>
  <div class=`max-w-7xl mx-auto px-4 flex ${isColReverse ? 'flex-col-reverse' : 'flex-col'}  lg:flex-row items-center justify-between gap-12`>
    <!-- Left: Text -->
    <div class="w-full lg:w-1/2 text-center lg:text-left flex flex-col justify-center items-center gap-6" data-aos="fade-right" data-aos-easing="ease-in-back" data-aos-delay="100" id={idLeftCol}>
      <slot name="left" />
    </div>

    <!-- Right: Image -->
    <div class="w-full lg:w-1/2 flex flex-col justify-center items-center text-center lg:justify-end h-auto relative" data-aos="fade-left" data-aos-easing="ease-in-back" data-aos-delay="100" id={idRightCol} >
      <slot name="right" />
    </div>
  </div>
</section>
