---
const { idSection, idLeftCol, idRightCol, isColReverse = false, isCenter = false, ...props } = Astro.props;
---

<section id={idSection} {...props}>
  <div class=`max-w-7xl mx-auto flex ${isColReverse ? 'flex-col-reverse' : 'flex-col'}  lg:flex-row items-center justify-between gap-12`>
    <!-- Left: Text -->
    <div class=`w-full lg:w-1/2 text-center lg:text-left flex flex-col ${isCenter ? 'justify-center items-center' : ''} gap-6` data-aos="fade-right"  data-aos-easing="ease-in-back" id={idLeftCol}>
      <slot name="left" />
    </div>

    <!-- Right: Image -->
    <div class="w-full lg:w-1/2 flex flex-col justify-center items-center text-center lg:justify-end h-auto relative" data-aos="fade-left" data-aos-easing="ease-in-back" id={idRightCol} >
      <slot name="right" />
    </div>
  </div>
</section>
