---
interface Props {
  btnContent: string;
  href: string;
  class?: string;
}
const { btnContent, href, class: extraClass = "", ...props } = Astro.props;
---

<a href={href} class={`cta ${extraClass}`} aria-label={btnContent} {...props}>
  <span class="cta-content">{btnContent}</span>
</a>
