---
const { href, btnContent, AriaLabel, class:className, ...props } = Astro.props;
---

<div {...props} class={className}>
    <a href={href} aria-label={AriaLabel}>
        <button class="cta" aria-label="cta-button ">
           <span class="cta-content">{btnContent}</span> 
        </button>
    </a>
</div>
