<button id="menu-toggle" class="flex flex-col justify-center items-center w-10 h-10 focus:outline-none" aria-label="Menu" aria-expanded="false" aria-controls="mobile-menu">
    <span class="line w-6 h-0.5 bg-black mb-1 transition-transform duration-300"></span>
    <span class="line w-6 h-0.5 bg-black mb-1 transition-opacity duration-300"></span>
    <span class="line w-6 h-0.5 bg-black transition-transform duration-300"></span>
</button>   

<script src="../../scripts/components/header.js"></script>