---
import HeaderLink from '../utilities/HeaderLink.astro';
import { getCurrentPathMatch } from '../../utils/url.ts';
import { NAV_LINKS } from '../../consts';

import type { HTMLAttributes } from 'astro/types';

type Props = {
  class?: HTMLAttributes<'li'>['class'];
};

const { class: className, ...props } = Astro.props;
const currentUrl = Astro.url;
---

{NAV_LINKS.map((link) => (
  <li class={className} {...props}>
    <HeaderLink href={link.href} aria-label={`Vai alla sezione ${link.label}`} aria-current={getCurrentPathMatch(currentUrl, link.href)} role="menuitem" class="transition uppercase">
      {link.label}
    </HeaderLink>
  </li>
))}
