---
import Icon from "./Icon.astro";

import '../../styles/components/searchInput.css';
---

<div class="search-container group relative flex items-center justify-end" role="search" aria-label="Barra di ricerca">
    <Icon name="search" class="w-5 h-5 search-icon" />
    <input type="search" class="search-input" placeholder="Cerca..." aria-label="Campo di ricerca" name="search" id="search-input"/>
</div>